body {
  width: 1512px;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin: 65px 0 0 120px;
}
.logo {height: 25px; width: 124px;} 
.navbar__menu {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  margin-left: 164px;
/* }
.navbar__menu { */
  text-decoration: none;
  color: #313131;
  font-size: 20px;
  height: 30px;
}
.navbar__menu a {
  transition: font-weight 0.2s;
  text-decoration: none;
  color: #313131;
}
.navbar__menu a:hover {
  font-weight: 700;
}
.navbar__buttons {
  margin-left: 292px;
  display: flex;
  gap: 15px;
}
.btn {
  text-decoration: none;
  font-weight: 500;
  padding: 8px 18px;
  border-radius: 6px;
  transition: 0.3s;
}
.btn-signin {
  background: transparent;
  color: #333;
  border: 1px solid #333;
}
.btn-signin:hover {
  background: #333;
  color: #fff;
}
.btn-getstarted {
  background: #ACE238;
  color: #1d1d1d;
}

.btn-getstarted:hover {
  background: #b5b5b5;
}
.section-about {
  margin-left: 116px;
  margin-top: 100px;
}
.section-about__finban {
  display: inline-flex;
  justify-content: center;

}
p {margin: auto;
  font-size: 20;}
.section-about__finban__text {
  display: flex;
  justify-content: center;
}
.finban-1 {
  width: 134;
}
.finban-2 {
  width: 133;
}
.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 10px;
}
.green-color {
  background: #ACE238;
}
.black-color {
  background: #1d1d1d;
}