body {
  width: 1512px;
  font-family: 'Poppins', sans-serif;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin: 65px 0 0 120px;
}
.logo {height: 25px; width: 124px;} 
.navbar__menu {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  margin-left: 164px;
}
.navbar__menu {
  text-decoration: none;
  color: #313131;
  font-size: 20px;
  height: 30px;
}
.navbar__menu a {
  text-decoration: none;
  color: #313131;
}
.navbar__buttons {
  margin-left: 292px;
  display: flex;
  gap: 15px;
}
.btn {
  text-decoration: none;
  font-weight: 500;
  padding: 8px 18px;
  border-radius: 6px;
  transition: 0.3s;
}
.btn-signin {
  color: #333;
  border: 1px solid #333;
}
.btn-signin:hover {
  background: #333;
  color: #fff;
}
btn-getstarted {
  background: #007BFF;
  color: #fff;
}

.btn-getstarted:hover {
  background: #0056b3;
}
#navbar__bold {
  color: #1d1d1d;
  
}
/* header {
  width: 1272px;
  height: 60px;
  margin-top: 65px;
  margin-left: 120px;
}
*/